body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table {
  display: grid;
  grid-auto-flow: column;
}

.table .header {
  grid-row: 1;
}

.table span {
  overflow: hidden;
  text-align: center;
}

li {
  font-family: sans-serif;
}

.chart {
  display: grid;
  grid-template-columns: max-content auto;
}

.chart .y-values {
  grid-column: 2;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  margin: 12px;
}

.chart svg {
  grid-column: 1;
  height: 600px;
  border: black 2px solid;
}

text:active + polyline {
  stroke: red;
  stroke-width: 3px;
}

.chart line {
  stroke: #bbb;
  stroke-width: 1;
}

.color-100 {
  background-color: #2167ac;
  color: white;
}

.color-50 {
  background-color: #428dbb;
  color: white;
}

.color-25 {
  background-color: #92c6de;
}

.color-10 {
  background-color: #d2e4f0;
}

.color0 {
  background-color: #ffefe3;
}

.color10 {
  background-color: #fcdbc7;
}

.color25 {
  background-color: #f4a482;
}

.color50 {
  background-color: #d6614c;
  color: white;
}

.color100 {
  background-color: #b2172c;
  color: white;
}

.color1 {
  background-color: #f5d664;
}

.color20 {
  background-color: #f1b73c;
}

.color60 {
  background-color: #e79402;
}

.color120 {
  background-color: #da6500;
  color: white;
}

.color240 {
  background-color: #d23f00;
  color: white;
}

.color480 {
  background-color: #b61c00;
  color: white;
}

.color960 {
  background-color: #870202;
  color: white;
}
